section#for
    .container
        h3.for_title Это обучение необходимо тем:
        .row
            .col-md-6
                img#collage(src="img/collage.jpg", alt="Коллаж")
            .col-md-6
                ul.for_list
                    li Кто 
                        span испытывает сложности 
                        | в отношениях: деловых и межличностных
                    li Кто 
                        span устал чувствовать боль 
                        | и страдать от любви
                    li 
                        span Кто чувствует, что его потенциал 
                        | в любви и отношениях реализован не до конца
                    li У кого 
                        span нет понимания 
                        | с партнером
                    li У кого есть чувства, но 
                        span отношения «не работают»
                    li Кто не 
                        span удовлетворяет отношениям 
                        | с партнером или в семье
                    li У кого 
                        span есть проблемы и трудности 
                        | с детьми или родителями
                    li Кто 
                        span испытывает страх 
                        | открыто выражать себя в отношениях
                    li Кто испытывает 
                        span непонимание своей сексуальности 
                        |и сексуальности партнера
        h4.for_after_title И всем тем, кто откликается на нас и Дизайн Человека!
        img(src="img/for_petals.png", alt="2 лепестка")#for_petals