section#main
	.container
		.pre Бесплатный онлайн-вебинар
		.title_n_authors
			h1 ЛЮБОВЬ И ОТНОШЕНИЯ В ДИЗАЙНЕ ЧЕЛОВЕКА
			p Авторы: Анна Ролева и Вероника Юрина
		p.main_subtitle Что нужно делать для того, чтобы обрести вторую половинку, и чтобы отношения не разрушались, а укреплялись!
		button.button(data-toggle="modal" data-target="#myModalForm") ПОЛУЧИТЬ ОБУЧЕНИЕ БЕСПЛАТНО
		img(src="img/flower_main.png", alt="Цветы")#flower_main