section#know
    .container
        h3.reach_title Благодаря этому вебинару вы узнаете:
        .row
            .col-lg-8.col-md-6.col-sm-6
                ul.know_list
                    li Как 
                        span освободиться от груза 
                        | прошлых отношений и реализовать свой потенциал по-максимуму
                    li 
                        span Мастерство построения 
                        | любовных, семейных и деловых отношениях
                    li Как вывести ваши отношения из теней и 
                        span начать проживать свои дар
                    li 
                        span Механика взаимоотношений 
                        | с позиции дизайна человека
                    li 
                        span Причины 
                        | сложностей и конфликтов в отношениях
                    li Где в вашей карте закодирован 
                        span потенциал 
                        | к созданию семьи
                    li Ваша 
                        span роль в отношениях 
                        | и сексе с позиции ДЧ
                    li Как 
                        span отпустить боль и обиды, 
                        | поняв свою механику и механику партнера
                    li 
                        span Ключи к привлекательности 
                        | и сексуальности по дизайну