section#know
    .container
        h3.reach_title Благодаря этому вебинару вы узнаете:
        .row
            .col-lg-8.col-md-6
                ul.know_list
                    li 
                        span Как 
                            span.span_bold освободиться от груза 
                            | прошлых отношений и реализовать свой потенциал по-максимуму
                    li 
                        span
                            span.span_bold Мастерство построения 
                            | любовных, семейных и деловых отношениях
                    li 
                        span Как вывести ваши отношения из теней и 
                            span.span_bold начать проживать свои дар
                    li 
                        span 
                            span.span_bold Механика взаимоотношений 
                            | с позиции дизайна человека
                    li 
                        span
                            span.span_bold Причины 
                            | сложностей и конфликтов в отношениях
                    li 
                        span Где в вашей карте закодирован 
                            span.span_bold потенциал 
                            | к созданию семьи
                    li 
                        span Ваша 
                            span.span_bold роль в отношениях 
                            | и сексе с позиции ДЧ
                    li 
                        span Как 
                            span.span_bold отпустить боль и обиды, 
                            | поняв свою механику и механику партнера
                    li 
                        span 
                            span.span_bold Ключи к привлекательности 
                            | и сексуальности по дизайну