#for
    padding 110px 0 75px
    .container
        position relative
.for_title
    max-width 630px
    margin 0 auto 74px
    padding 0 0 26px 42px
    background-image url(../img/for_title_flower.png)
    background-repeat no-repeat
    background-position: -2px 75px
    font-size: 50px;
    font-family: "Garamond", serif
    color: rgb(13, 13, 13);
    text-transform: uppercase;
    line-height: 1.32;
    font-weight: normal
.for_list
    li
        font-family: "OpenSansLight", sans-serif;
        color: rgb(13, 13, 13);
        line-height: 1.5;
        margin-bottom: 26px
        list-style none
        padding-left: 31px
        background-image url(../img/petal_li.jpg)
        background-repeat no-repeat
        background-position: 0 center
        span
            font-family: 'OpenSansBold', sans-serif
.for_after_title
    font-size: 34px;
    font-family: "GaramondItalic", serif;
    color: rgb(13, 13, 13);
    margin 70px auto 0
    max-width 400px
    font-weight: normal
    line-height: 1.26;
#for_petals
    position: absolute
    bottom: -29px;
    right: 71px;