#main
	padding: 77px 0 63px
	background-color: rgba(#d8e0f0, .2)
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position: right top
	background-size 45%
	.container
		position relative
.pre
	font-size: 20px;
	font-family: "OpenSansBold", sans-serif
	color: rgb(253, 95, 89);
	line-height: 1.3;
.title_n_authors
	padding 26px 0 44px 103px
	max-width  770px
	background-image url(../img/flower_title.png)
	background-repeat no-repeat
	background-position 0 102px
	h1
		font-size: 53px;
		font-family: "Garamond", serif
		color: rgb(4, 4, 4);
		line-height: 1.094;
		margin 0 0 8px
		font-weight: normal
	p
		font-size: 16px;
		font-family: "OpenSansBold", sans-serif;
		color: rgb(4, 4, 4);
		line-height: 1.2
.main_subtitle
	font-size: 27px;
	font-family: "GaramondItalic",serif;
	color: rgb(16, 15, 15);
	font-style: italic;
	line-height: 1.333;
	max-width: 435px;
.button
	border-radius: 28px;
	background-image: linear-gradient( 0deg, rgb(238,70,53) 0%, rgb(215,33,61) 100%);
	width: 314px;
	height: 55px;
	line-height: 55px;
	font-size: 14px;
	font-family: "OpenSansBold", sans-serif;
	color: rgb(255, 255, 255);
	margin-top: 55px
	&:hover
		background-image: linear-gradient( 0deg, rgb(210,81,101) 0%, rgb(236,100,86) 100%);
#flower_main
	position: absolute
	bottom: 0
	left: 465px