#post
	background-color: rgba(#d8e0f0, .2)
	padding-top: 30px
	text-align: center
	#main_screen
		background-image: none
.post_title
	font-size: 32px
	margin-bottom: 40px
	font-family: "GARA", serif
	color: rgb(4, 4, 4);
	line-height: 1.094;
	margin 0 0 8px
	font-weight: normal
.link_for 
	font-size: 20px
	text-decoration: underline
	color #fd5f59
	&:focus
		text-decoration: underline
		color #fd5f59
	&:hover
		text-decoration: none
		color #fd5f59
.begin_date
	font-size: 18px
	margin-top: 40px
	span 
		font-weight: bold
#last_flower
	display block
	margin 30px auto 0