section#main
	.container
		.pre Бесплатный онлайн-вебинар
		h1.main_title ЛЮБОВЬ И ОТНОШЕНИЯ В ДИЗАЙНЕ ЧЕЛОВЕКА
		p.main_subtitle Что нужно делать для того, чтобы обрести вторую половинку, и чтобы отношения не разрушались, а укреплялись!
		p.authors Авторы: Анна Ролева и Вероника Юрина
		button.button(data-toggle="modal" data-target="#myModalForm") ПОЛУЧИТЬ ОБУЧЕНИЕ БЕСПЛАТНО