@media screen and (min-width 1900px)
    #main
        background-position: 73% 0
        background-size: 30%
    #know
        background-position: 100% bottom
@media screen and (min-width 2300px)
    .container
        width 1400px
    #main
    #post #main_screen
        background-position: 73% 32%
        padding 100px 0
    .pre
    .for_list li
    .know_list li
    #myPolitics .modal-title
    .link_for
        font-size: 24px
    .title_n_authors p
    #myPolitics .modal-body p
    .alert_message
    .mail
    .begin_date
        font-size: 22px
    .button
        font-size: 20px
        width: 425px;
        max-width 100%
    .for_after_title
        font-size: 40px
        max-width: 474px
    .checking .check_label
        font-size: 16px
    .button_mail
        width: 365px
    .post_title
        font-size: 43px
    #know
        background-position: 83% bottom;
    .know_list li
        height 72px
    #collage
        margin-top: 80px
@media screen and (max-width 1199px)
    .title_n_authors
        padding-left: 0
        background-position: 410px 148px
        max-width: 680px;
    #know
        background-position: 130px bottom
    #collage
        width: 400px
        margin-top: 100px
@media screen and (max-width 991px)
    #main
        padding: 34px 0 30px
    .title_n_authors h1
        font-size: 40px
    .title_n_authors
        padding-bottom: 15px
        background-image: none
        max-width 500px
    .button
        margin-top: 30px
    #for
        padding 40px 0
    .for_title
    .reach_title
        font-size: 34px
        background-position: 0 bottom;
        margin-bottom: 40px
    #collage
        display: none
    .for_after_title
        margin-top: 30px
    #know
        padding 40px 0
        background-image: none
@media screen and (max-width 767px)
    #myModalForm .modal-dialog
        margin 10px auto
@media screen and (max-width 750px)
    #main
        background-image: none
        text-align: center
    .title_n_authors
    .main_subtitle
        margin 0 auto
    #flower_main
        left: 30px
        z-index 0
    .for_list li
        padding-left: 24px
        margin-bottom: 15px
    .know_list li
        padding-left: 55px
        margin-bottom: 15px
@media screen and (max-width 480px)
    #myModalForm .modal-dialog
        width: 96%;
@media screen and (max-width 426px)
    #main
        padding 20px 0
    .title_n_authors
        padding-top: 9px
    .title_n_authors h1
        font-size: 34px
    .for_title, .reach_title
    .post_title
        font-size: 30px
    .begin_date
        margin-top: 20px
    #for
    #know
        padding 30px 0
    .know_list li
        display block
        padding 55px 0 0
        background-position: center top
        margin-bottom: 30px
        height auto
        text-align: center
        span
            display block
@media screen and (max-width 360px)
    .pre
        font-size: 18px
    .title_n_authors h1
        font-size: 28px
    .main_subtitle
        font-size: 24px
        line-height: 1.2
    .button
        width 100%
        font-size: 12px
    .for_title, .post_title, .reach_title
        font-size: 25px
    .for_title
        margin-bottom: 30px
    #for_petals
        display: none
    .reach_title
        padding-left: 0
        margin-bottom: 30px
    .mail
        width 90%
        font-size: 14px
        margin-bottom: 0
    .button_mail
        margin-top: 20px